@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    padding: 1rem;
    background-color: #27272a; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding: 1rem;
    font-weight: bold;
    color: #fafafa; 
    font-size: 2.25rem; 
}

.header__list {
    display: flex;
    gap: 2rem; 
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__link {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.25rem;
    text-decoration: none;
}

.header__link:hover {
    text-decoration: underline;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.home__text {
    color: #ef4444; 
    font-size: 1.25rem;
    font-weight: bold;
}


